@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-900: #0D1B2A;
  --color-brand-800: #1B263B;
  --color-brand-700: #2F3E46;
  --color-brand-100: #E0E1DD;
  --color-accent: #1F7A1F;
}

@layer base {
  body {
    background-color: var(--color-brand-100);
    color: var(--color-brand-900);
  }
}
